{:deps
 {nuid/transit
  {:git/url "git@github.com:nuid/transit",
   :sha "b1274578208aaaa93eef8b6c48821ed4c50e3bda"},
  nuid/utils
  {:git/url "git@github.com:nuid/utils",
   :sha "b8b6e87974cf9a6fdf5958f38e3b1f8af55035f5"},
  nuid/bn
  {:git/url "git@github.com:nuid/bn",
   :sha "371d7e06c451c73f895042bda498e5bbe55ac91a"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/core.async {:mvn/version "0.4.474"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  org.web3j/core {:mvn/version "4.1.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/repl
    {:git/url "git@github.com:nuid/repl",
     :sha "0e0785539a9997e4c7ff9f2845c631bea0575fa0"}}}},
 :paths ["src"]}
