{:deps
 {nuid/transit
  {:git/url "git@github.com:nuid/transit.git",
   :sha "d8cecee5d06eaaefe4f120694ccb076d8aa54454"},
  nuid/utils
  {:git/url "git@github.com:nuid/utils.git",
   :sha "af4c91b812fcfe89509c574bbcb243ef640194ef"},
  nuid/bn
  {:git/url "git@github.com:nuid/bn.git",
   :sha "ddc51b3d680073ab3101a19175cd0e5aa4aa5b17"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/core.async {:mvn/version "0.4.474"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  org.web3j/core {:mvn/version "4.1.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/deps
    {:git/url "git@github.com:nuid/deps.git",
     :sha "c4846a81e4b491b6ce73d71e2f43c360301d65cb"}}}},
 :paths ["src"]}
