{:deps
 {nuid/transit
  {:git/url "git@github.com:nuid/transit.git",
   :sha "9d021b50d6fd473a80d26f2ef92fdcc14a5c5068"},
  nuid/utils
  {:git/url "git@github.com:nuid/utils.git",
   :sha "e1b35f1c980e21f191267beb5e5d822872e01fbc"},
  nuid/bn
  {:git/url "git@github.com:nuid/bn.git",
   :sha "296b024f38155631ce55a1eaceebe91a269e01da"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/core.async {:mvn/version "0.4.474"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  org.web3j/core {:mvn/version "4.1.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/deps
    {:git/url "git@github.com:nuid/deps.git",
     :sha "a08e2a8726a77992fedc8d8f0f2468529d483018"}}}},
 :paths ["src"]}
