{:deps {:aliases [:shadow]}
 :builds
 {:browser
  {:modules    {:nuid_ethereum {:entries [nuid.ethereum]}},
   :output-dir "target/browser",
   :asset-path "target/browser",
   :target     :browser},

  :node
  {:output-to   "target/node/nuid_ethereum.js",
   :exports-var nuid.ethereum/exports,
   :target      :node-library}}}
